@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    color: #C0B283;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/* <--- --- --- --- --- HEADER --- --- --- --- ---> */

h1{
    font-size: 2.2rem;
}

.container{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container nav ul{
    display: flex;
    padding: 10px;
}

.container nav ul li{
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
    font-size: large;
}

/* <--- --- --- --- --- MAIN --- --- --- --- ---> */
main{
    background-color: #DCD0C0;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
}


.portfolio img{
    height: 600px;
    width: 500px;
}

.images:hover{
    opacity: 75%;
}

/* <--- --- --- --- --- FOOTER --- --- --- --- ---> */
footer{
    background-color: #f4f4f4;
    display: flex;
    justify-content: end;
    font-size: 20px;
    padding: 5px;
}